<div>
    <h2 id="page-heading">
        <span jhiTranslate="leloHubApp.sequenceStep.home.title">Sequence Steps</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sequence-step" [routerLink]="['/sequence-step/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="leloHubApp.sequenceStep.home.createLabel">
            Create a new Sequence Step
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sequenceSteps?.length === 0">
        <span jhiTranslate="leloHubApp.sequenceStep.home.notFound">No sequenceSteps found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sequenceSteps?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generation"><span jhiTranslate="leloHubApp.sequenceStep.generation">Generation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordinal"><span jhiTranslate="leloHubApp.sequenceStep.ordinal">Ordinal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="leloHubApp.sequenceStep.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="leloHubApp.sequenceStep.createdDate">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="leloHubApp.sequenceStep.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedDate"><span jhiTranslate="leloHubApp.sequenceStep.lastModifiedDate">Modified At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span jhiTranslate="leloHubApp.sequenceStep.lastModifiedBy">Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sequenceName"><span jhiTranslate="leloHubApp.sequenceStep.sequence">Sequence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let sequenceStep of sequenceSteps ;trackBy: trackId">
                    <td><a [routerLink]="['/sequence-step', sequenceStep.id, 'view']">{{ sequenceStep.id }}</a></td>
                    <td jhiTranslate="{{ 'leloHubApp.SequenceStepGeneration.' + sequenceStep.generation }}">{{ sequenceStep.generation }}</td>
                    <td>{{ sequenceStep.ordinal }}</td>
                    <td>{{ sequenceStep.description }}</td>
                    <td>{{ sequenceStep.createdDate | date:'medium' }}</td>
                    <td>{{ sequenceStep.createdBy }}</td>
                    <td>{{ sequenceStep.lastModifiedDate | date:'medium' }}</td>
                    <td>{{ sequenceStep.lastModifiedBy }}</td>
                    <td>
                        <div *ngIf="sequenceStep.sequenceId">
                            <a [routerLink]="['/sequence', sequenceStep.sequenceId , 'view']" >{{ sequenceStep.sequenceName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sequence-step', sequenceStep.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sequence-step', sequenceStep.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sequenceStep)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
