<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sequenceStepActionDefinition">
            <h2><span jhiTranslate="leloHubApp.sequenceStepActionDefinition.detail.title">Sequence Step Action Definition</span> {{ sequenceStepActionDefinition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="leloHubApp.sequenceStepActionDefinition.generation">Generation</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'leloHubApp.SequenceStepActionGeneration.' + sequenceStepActionDefinition.generation }}">{{ sequenceStepActionDefinition.generation }}</span>
                </dd>
                <dt><span jhiTranslate="leloHubApp.sequenceStepActionDefinition.code">Code</span></dt>
                <dd>
                    <span>{{ sequenceStepActionDefinition.code }}</span>
                </dd>
                <dt><span jhiTranslate="leloHubApp.sequenceStepActionDefinition.description">Description</span></dt>
                <dd>
                    <span>{{ sequenceStepActionDefinition.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sequence-step-action-definition', sequenceStepActionDefinition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
